{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{test}}<br/>
            {{task| upper}}
        </div>
    </div>

{% endblock %}
