@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

html, body{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

div.tlo{
    background-image: url('../images/header.jpg');
    height: 80px;
    margin-left: 0px;
    margin-right: 0px;
   
}

li a{
    margin-top: 10px;
    color: #3c763d;
}

div.main{
    margin-top: 30px;
}

h1.page-header{
    color: #3c763d;
    font-size: 38px;
    font-weight: 600;
    font-style: oblique;
    text-align: center;

}

div.jumbotron{

}

